/* Carousel.css */

.wrapper {
  /*Display and layout*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;

  /*Box model*/
  max-width: 100%;
  height: 500px;
  margin-top: -108px;
 

  /*Positioning*/
  z-index: 1;

  /*Backgrounds and Borders*/
  /*border: dotted 3px red; Comment out when done*/
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.card-container {
  /*Display and layout*/
  display: flex;
  /*overflow-y: visible;*/

  /*Box model*/
  width: 100vm;
  height: 360px;
  justify-content: space-around;
  align-items: center;

  /*Backgrounds and Borders*/
  /*border: dotted 3px red; Comment out when done*/
}


.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  /*Display and layout*/
  flex-shrink: 0;
  flex-grow: 0;

  /*Box model*/
  width: 285px;
  height: 354px;
  box-sizing: border-box;
  margin: 12px;

  /*Positioning*/
  z-index: 1;

  /*Backgrounds and Borders*/
  background-color: darkslategrey;
  border: none;

  /* Animations & Transitions*/
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  /*Positioning*/
  z-index: 2;

  /* Animations & Transitions*/
  transform: scale(1.2);
}

.cardImg {
  /*Display and layout*/

  /*Box model*/
  max-width: 100%;
  height: 100%;

  /*Positioning*/
  object-fit: cover;

  /*Backgrounds and Borders*/
  border-radius: 1.2px;
}

.cardImg:hover {
  /*Positioning*/
  z-index: 2;
}

#first:hover {
  margin-left: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: margin-left 0.2 ease-out;
  z-index: 3;
}

#last:hover {
  margin-right: 22px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: margin-left 0.2 ease-out;
  z-index: 3;
}


.prev-btn {
  /*Display and layout*/
  display: flex;

  /*Box model*/
  height: 355px;
  width: 40px;

  /*Positioning*/
  position: absolute;
  z-index: 3;

  /*Backgrounds & Borders*/
  border: none;
  /*border: dashed red solid;*/
  background-color: transparent; /*Change back to transparent when done*/
  background-image: url("https://i.postimg.cc/mgcSPvRY/left-arrow.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
}

.next-btn {
  /*Display and layout*/
  display: flex;

  /*Box model*/
  height: 355px;
  width: 40px;

  /*Positioning*/
  position: absolute;
  right: 1px;
  z-index: 3;

  /*Backgrounds & Borders*/
  border: none;
  /*border: dashed red solid;*/
  background-color: transparent;
  /*Change back to transparent when done*/
  background-image: url("https://i.postimg.cc/nrjL4GLP/right-arrow.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
}

.prev-btn:hover {
  background-color: rgb(40, 40, 40, 0.3);
  z-index: 4;
}

.next-btn:hover {
  background-color: rgb(40, 40, 40, 0.3);
  z-index: 4;
}