#button {
  background-color: red !important;
}

.navbar-toggler-icon {
  background-size: 100% 100% !important;
}

.nav-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.logo {
  height: auto !important;
  width: auto !important;
}

/* This is the container of the navigation bar elements */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch !important;
  height: 5vw;
}

/* This is the netflix logo container */
.ms-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;
}

/* Media Queries */
@media (max-width: 1200px) {
  /* Desktop and smaller */
  .navbar {
    height: 80px;
  }
}

@media (max-width: 991px) {
  /* Tablet Landscape and smaller */
  .navbar {
    height: 70px;
  }
}

@media (max-width: 767px) {
  /* Tablet Portrait and smaller */
  .navbar {
    height: 60px;
  }
}

@media (max-width: 480px) {
  /* Mobile Landscape and smaller */
  .navbar {
    height: 50px;
  }
}
