/* Styles from the <style> tag in Nav-Bar.js */
.logo {
  height: 30px;
}

.nav-link {
  padding-left: 7px;
}

.nav-link.white-text {
  color: white !important;
}

.nav-link:hover {
  background-color: transparent !important;
}

.offcanvas-header {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.nav-menu-button {
  border: none !important;
  background-color: transparent !important;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
  background-size: 100% 100% !important;
}

.offcanvas.show {
  background-color: rgb(30, 30, 30); /* Dark grey color */
}

.offcanvas {
  background-color: rgb(30, 30, 30);
}

.red-button {
  background-color: red !important;
  border: none;
  margin-right: 5px;
}

.red-button:hover {
  background-color: #fb5235 !important;
}

.search-input {
  width: 100%;
  padding-right: 20px;
}

.me-2.form-control {
  margin-left: 5px;
}

/* Scroll Behavior */
.navbar-scrolled {
  background-color: black !important;
}

/* Media Queries */
@media (max-width: 1200px) {
  /* Desktop and smaller */
  .navbar {
    height: 80px;
  }

  .offcanvas.show {
    width: 30vmax;
  }

  .offcanvas {
    width: 30vmax;
  }
}

@media (max-width: 991px) {
  /* Tablet Landscape and smaller */
  .navbar {
    height: 70px;
  }

  .offcanvas.show {
    width: 35vmax;
  }

  .offcanvas {
    width: 35vmax;
  }
}

@media (max-width: 767px) {
  /* Tablet Portrait and smaller */
  .navbar {
    height: 60px;
  }

  .offcanvas.show {
    width: 30vmax;
  }

  .offcanvas {
    width: 30vmax;
  }
}

@media (max-width: 480px) {
  /* Mobile Landscape and smaller */
  .navbar {
    height: 50px;
  }

  .offcanvas.show {
    width: 20vmax;
  }

  .offcanvas {
    width: 20vmax;
  }
}
