#search {
    /*Display and alignment*/

    /*Size*/
    height: 38px;
    width: 50px;

    /*Position*/
    position: absolute;
    right: 72px;
    z-index: 3;

    /*Background and border*/
    background-image: url('https://i.postimg.cc/D0rvNdX8/Search-Button.png');
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;

    border: none;

    z-index: 4;
}

#setting {
    /*Display and alignment*/

    /*Size*/
    height: 38px;
    width: 50px;

    /*Position*/
    position: absolute;
    right: 8px;
    z-index: 3;

    /*Background and border*/
    background-image: url('https://i.postimg.cc/nrZB4FGy/3-Dot-Settings-White.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    z-index: 2;
}

.hovered:hover {
    cursor: pointer;
}

.active {
    background-color: rgb(128, 128, 128);
}

#setting-div {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-left: solid red .5px;
    border-bottom: solid red .5px;
    border-top: solid red .5px;
    height: 80px;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 55px;
    z-index: 1;
}

.setting-a {
    text-decoration: none !important;
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 20px;
    flex-direction: column;
    font-size: 0.8rem;

}

.setting-a:hover {
    background-color: #1e1e1e;
}


/*SeachBar Styles*/

#searchbar {
    border: solid 1px red;
    background-color: black;
    width: 40%;
    color: white;
    padding-left: 8px;
    z-index: 5;
}

input[type="search"]:focus {
    outline: none;
  }
  
.backdrop {
    position: absolute;
    height: 200vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    z-index: 3;
}