body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

@font-face {
  font-family: 'Gotham';
  src: url('../src/Fonts/Gotham-Font/GothamBook.ttf') format('ttf'),
    url('../src/Fonts/Gotham-Font/GothamBold.ttf') format('ttf');
}

